<table width="100%" align="center" cellspacing="0" cellpadding="0" class="no-border project">
    <tbody>
        <tr>
            <td width="26%"><img src="/assets/img/rrc_phase_2_video.gif" width='250' alt='rrc_phase_2_video'></td>
            <td width="74%">
                <div>
                    <h1>Dexterous manipulation with a three-finger robot</h1>
                    We participated in <a href="https://real-robot-challenge.com/">Real Robot Challenge</a>, where participants develop a method that can grasp and manipulate an object with <a href="https://sites.google.com/view/trifinger/home-page">TriFinger robot</a>.
                    <br />
                    We won <a href="https://real-robot-challenge.com/leader-board">1st place</a> in both competition phases (Phase 2 & 3), and received 12,500 EUR as a prize.
                    <br />
                    [<a href="https://github.com/ripl-ttic/real-robot-challenge">code</a>] [<a href="https://arxiv.org/abs/2101.02842">paper</a>] [<a href="https://www.youtube.com/playlist?list=PLBUWL2_ywUvE_czrinTTRqqzNu86mYuOV">videos</a>]
                </div>
            </td>
        </tr>
        <tr>
            <td><img src="/assets/img/habitat_video.gif" width='250' alt='habitat_video'></td>
            <td>
                <div>
                    <h1>Auxiliary Tasks for Navigation in Unknown Environments (class project)</h1>
                    We used <a href="https://github.com/facebookresearch/habitat-sim">a simulator</a> to train an agent that navigates itself in a photo-realistic 3-D indoor environment.
                    The agent only observes first-person view image.
                    We trained the agent with several different auxiliary tasks such as depth prediction,
                    and compare them to see what auxiliary tasks can help navigation.
                    <br />
                    The gif on the left shows a PPO agent trained with reward (distance to the goal) and auxiliary depth-prediction.
                </div>
            </td>
        </tr>
    </tbody>
</table>
