<table width="100%" align="center" cellspacing="0" cellpadding="0" class="no-border project">
    <tbody>
     <tr>
        <td width="33%"><img src="/img/rrc_phase_2_video.gif" width='300' alt='rrc_phase_2_video'></td>
        <td width="67%">
            <div>
            <h1>Dexterous manipulation with a three-finger robot</h1>
            We participated in <a href="https://real-robot-challenge.com/">Real Robot Challenge</a>, where participants develop a method that can grasp and manipulate an object with <a href="https://sites.google.com/view/trifinger/home-page">TriFinger robot</a>.
            <br />
            We won <a href="https://real-robot-challenge.com/leader-board">1st place</a> in a competition phase (Phase 2), and received 3,500 EUR as a cash prize.
            The informal report describing our method can be found <a href="/etc/real-robot-challenge-phase2-report.pdf">here</a>.
            </div>
            </td>
     </tr>
     <tr>
        <td><img src="/img/habitat_video.gif" width='300' alt='habitat_video'></td>
        <td>
            <div>
            <h1>Auxiliary Tasks for Navigation in Unknown Environments (class project)</h1>
            We used <a href="https://github.com/facebookresearch/habitat-sim">a simulator</a> to train an agent that navigates itself in a photo-realistic 3-D indoor environment.
            The agent only observes first-person view image.
            We trained the agent with several different auxiliary tasks such as depth prediction,
            and compare them to see what auxiliary tasks can help navigation.
            </div>
        </td>
     </tr>
    </tbody>
</table>
